@page "/game"
@using RPSGame.Domain.Enums
@inject GameApiService GameApiService

<h3>Rock-Paper-Scissors Game</h3>


@if (!IsGameLevelSelected)
{
    <GameLevelSelector OnGameLevelSelected="SetGameLevel" />
}
else if (!IsPlayerNameSet)
{
    <PlayerNameInput OnPlayerNameSubmitted="SetPlayerName" />
}
else
{
    <div>
        <h4>Player @PlayerName, choose your move hand</h4>

        <MoveSelector Moves="Moves" OnMoveSelected="SetPlayerMove" /> 
    </div>

    <button class="play-button" @onclick="PlayGame" disabled="@IsPlayButtonDisabled">
        <i class="fas fa-play"></i> Play
    </button>

    @if (CurrentGamePlayResult != null)
    {
        <ComputerMoveDisplay ComputerMoveName="@ComputerMove" />
    }

    <ResultDisplay GamePlayResult="@CurrentGamePlayResult" />
}

@code {
    private bool IsGameLevelSelected = false;
    private bool IsPlayerNameSet = false;
    private string PlayerName;
    private string PlayerMove;
    private string ComputerMove;
    private GamePlayResult CurrentGamePlayResult;

    private List<ConcreteMove> Moves;

    protected override void OnInitialized()
    {
    }

    private async Task SetGameLevel(GameLevel level)
    {
        try
        {
            Console.WriteLine($"Setting game level to: {level}");
            await GameApiService.SetGameLevel(level);
            Moves = await GameApiService.GetAvailableMoves();

            IsGameLevelSelected = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error setting game level: {ex.Message}");
        }
    }

    private async Task SetPlayerName(string playerName)
    {
        await GameApiService.SetPlayerName(playerName);
        PlayerName = playerName;

        PlayerName = await GameApiService.GetPlayerName();

        
        IsPlayerNameSet = true;
    }

    private void SetPlayerMove(string moveName)
    {
        PlayerMove = moveName;
    }

    private bool IsPlayButtonDisabled => string.IsNullOrWhiteSpace(PlayerMove);


    private async Task PlayGame()
    {
        try
        {
            var player = await GameApiService.GetMove(PlayerMove);
            var opponent = await GameApiService.GetComputerMove();
            
            ComputerMove = opponent.Name;
            CurrentGamePlayResult = await GameApiService.Play(player.Name, opponent.Name);
            
    
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            CurrentGamePlayResult = null;
        }
    }
}
