@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<p>
Welcome to the Rock-Paper-Scissors Game! <br />    
This is a simple game where you can play against the computer. <br />
Choose your move and see if you can win!
</p>
