@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello!</h1>

<p>
Welcome to the Rock-Paper-Scissors Game! 
This is a simple game where you can play against the computer. 
Choose your move and see if you can win!
</p>
